<form [formGroup]="medicineForm" (ngSubmit)="onSubmit()">
  <table mat-table [dataSource]="medicines.controls" class="mat-elevation-z8">
    <ng-container matColumnDef="medicineName">
      <th mat-header-cell *matHeaderCellDef>Medicine Name</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
        <mat-form-field appearance="outline">
          <mat-label>Medicine Name</mat-label>
          <input matInput formControlName="medicineName">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Frequency Column -->
    <ng-container matColumnDef="frequency">
      <th mat-header-cell *matHeaderCellDef>Frequency</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
        <mat-form-field appearance="outline">
          <mat-label>Frequency</mat-label>
          <mat-select formControlName="frequency">
            <mat-option value="once">Once a day</mat-option>
            <mat-option value="twice">Twice a day</mat-option>
            <mat-option value="thrice">Three times a day</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Dose Column -->
    <ng-container matColumnDef="dose">
      <th mat-header-cell *matHeaderCellDef>Dose</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
        <label>
          <mat-checkbox formControlName="doseMorning">Morning</mat-checkbox>
          <mat-checkbox formControlName="doseAfternoon">Afternoon</mat-checkbox>
          <mat-checkbox formControlName="doseNight">Night</mat-checkbox>
        </label>
      </td>
    </ng-container>

    <!-- Special Instruction Column -->
    <ng-container matColumnDef="specialInstruction">
      <th mat-header-cell *matHeaderCellDef>Special Instruction</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
        <mat-form-field appearance="outline">
          <mat-label>Special Instruction</mat-label>
          <mat-select formControlName="specialInstruction">
            <mat-option value="beforeFood">Before Food</mat-option>
            <mat-option value="afterFood">After Food</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duration (days)</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
        <mat-form-field appearance="outline">
          <input matInput type="number" formControlName="duration" min="1" placeholder="Duration (days)">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Start Date Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="picker" formControlName="startDate" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Delete Icon Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button mat-icon-button (click)="deleteMedicine(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row
      *matHeaderRowDef="['medicineName', 'frequency', 'dose', 'specialInstruction', 'duration', 'startDate', 'delete']">
    </tr>
    <tr mat-row
      *matRowDef="let row; columns: ['medicineName', 'frequency', 'dose', 'specialInstruction', 'duration', 'startDate', 'delete'];">
    </tr>
  </table>

  <button mat-raised-button color="primary" type="submit">Submit</button>
  <button mat-raised-button color="accent" (click)="addMedicine()">Add Medicine</button>
</form>



