.mat-dialog-container {
    background-color: #ECFFFA;
    padding: 0 !important;
    height: 55vh !important;
    border-radius: 12px;

    /* Set your desired background color here */
}

.mat-dialog-content {
    margin: 0 !important;
}

.addNotesHeader {
    background-color: #ffffff;
    padding: 0 24px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .5em 0 !important;
}

.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.mat-form-field-flex,
.mat-form-field-appearance-outline .mat-form-field-outline {
    height: 40px;
}

// .mat-form-field-appearance-outline .mat-form-field-outline {
//     display: flex;
//     position: absolute;
//     top: 0.25em;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     pointer-events: none;
// }