<div class="patientSubHeader">
  <div class="nameCard">
    <div class="imgCircle"></div>
    <div class="nameTitle">
      <div class="vitalSubText">Jhon</div>
      <div class="vitalTitle">68 years / Male</div>
    </div>
  </div>
  <div class="subLine"></div>
  <div class="vitals">
    <div class="vitalBox">
      <div class="vitalInside">
        <span class="vitalTitle">Blood Pressure</span>
        <span class="vitalSubText">128/78 mmHg</span>
      </div>
      <div class="subLine1"></div>
      <div class="vitalInside">
        <span class="vitalTitle">Random Glucose</span> <span>154/98 mg/dL</span>
      </div>
      <div class="subLine1"></div>
      <div class="vitalInside">
        <span class="vitalTitle">Weight</span>
        <span>85 kg</span>
      </div>
    </div>
    <div class="vitalInside">
      <span class="vitalTitle">Vitals Not Reported</span>
      <span>12 Days</span>
    </div>
  </div>
  <div class="subLine"></div>
  <div>
    <div class="vitalInside">
      <span class="vitalTitle">Pre-existing conditions</span>
      <span>Essential hypertension</span>
    </div>
  </div>
  <div class="subLine"></div>
  <div>
    <div class="vitalInside">
      <span class="vitalTitle">Allergies</span>
      <span>Skin, Airborne</span>
    </div>
  </div>
  <div class="subLine"></div>
  <div></div>
</div>
