.main-div {
    .pres-btn {
        width: 156px;
        height: 29px;
        background-color: #01cd74;
        box-shadow: 0px 0px 10px rgba(1, 0, 102, 0.1);
        border-radius: 10px;
        color: white;
        border: none;
        padding: 4px 24px;
        cursor: pointer;
    }

    .btu-btu {
        background-color: transparent;
        color: #52B204;
        text-decoration: underline;
        border: none;
        cursor: pointer;
    }

    .table-divs {
        border-radius: 10px;
        border: 1px solid #C5DBEA;
        margin: 13px;
        overflow: hidden;
        box-shadow: none;

        .mat-header-row {
            background-color: #C5DBEA;
        }
    }

    .mat-card {
        border: 1px solid #D8E0EA;
        background-color: #F7F8FB;
        border-radius: 10px;
    }

    .main-div-table {
        .expand-icon {
            font-size: 20px;
        }

        .active {
            padding: 6px 10px;
            background: #A2ECCC;
            border-radius: 4px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 12px;
            color: #FFFFFF;
            border: 1px solid #86E6BC;
        }

        .expired {
            padding: 6px 10px;
            background: #9AA5AF;
            border-radius: 4px;
            font-weight: 400;
            font-size: 14px;
            line-height: 12px;
            color: #FFFFFF;
        }


        .note {
            margin-top: 20px;
            padding: 10px;
            border-radius: 4px;
            background: #f0f0f0;
        }

        table {
            width: 100%;
        }

        .mat-table {
            background: transparent;
            box-shadow: none;
        }

        tr.mat-row,
        tr.mat-footer-row {
            // padding: 10px !important;
            border: 1px solid #D8E0EA;
            background-color: #F7F8FB;
            border-radius: 10px;
            // margin: 6px 6px 13px 6px;
        }

        tr.example-detail-row {
            height: 0;
        }

        .example-element-row td {
            border-bottom-width: 0;
        }

        .example-element-detail {
            overflow: hidden;
        }

        .example-element-diagram {
            min-width: 80px;
            border: 2px solid black;
            padding: 8px;
            font-weight: lighter;
            margin: 8px 0;
            height: 104px;
        }

        .example-element-symbol {
            font-weight: bold;
            font-size: 40px;
            line-height: normal;
        }

    }
}