.care-plan-main-div {
    margin: 24px 0 0 0;

    .main-box {
        height: 72px;
        border: 1px solid #DCEBF9;
        border-radius: 10px;
        background-color: #ffff;
        padding: 15px;
        margin-bottom: 15px;
        margin-top: 5px;
    }

    .main-box-headings {
        font-size: 14px;
        font-weight: 400;
        color: #8A8A8A;
    }

    .main-box-values {
        font-size: 14px;
        font-weight: 400;
        color: #424242;
        padding-top: 5px;
    }

    .main-box-two {
        height: 682px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        background-color: #ffff;
        padding: 15px;
        margin-top: 5px;
    }

    .highlight-text {
        font-size: 14px;
        font-weight: 700;
        color: #424242;
    }

    .inner-box {
        height: 212px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        background-color: #EFF5F9;
        padding: 15px;
        margin-top: 15px;
    }

    .inner-box-2 {
        height: 100px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        background-color: #EFF5F9;
        padding: 15px;
        margin-top: 10px;
    }

    .inner-box-3 {
        height: 150px;
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        background-color: #EFF5F9;
        padding: 15px;
        margin-top: 10px;
    }

    .description {
        font-size: 14px;
        font-weight: 400;
        color: #676767;
        padding-top: 5px;
    }

    .selected {
        background-color: #ffffff !important;
        border: 1px solid #01cd74 !important;
    }

    .status {
        color: #686868;
        font-size: 16px;
        font-weight: 500;
    }

    .status-box {
        background-color: #A2ECCC;
        border: 1px solid #86E6BC;
        border-radius: 4px;
        padding: 4px 10px 4px 10px;
        font-size: 14px;
        font-weight: 400;
        color: #676767;
    }

}