.app-container {
    display: flex;
    gap: 1em;
}

.calendar-header {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #424242;
}

.card-div {
    box-shadow: none;
    border-radius: 19px;
}