<div class="care-gaps-container">
  <div class="calendar">
    <div class="calendar-header">
      <button class="nav-button" (click)="prevMonth()">&lt;</button>
      <span>{{ monthNames[currentMonth] }} {{ currentYear }}</span>
      <button class="nav-button" (click)="nextMonth()">&gt;</button>
    </div>
    <div class="calendar-body">
      <div class="calendar-row">
        <span *ngFor="let day of weekDays">{{ day }}</span>
      </div>
      <div class="calendar-row" *ngFor="let week of calendarDays">
        <span
          *ngFor="let day of week"
          [ngClass]="{
            inactive: !day
          }"
          (click)="selectDay(day)"
        >
          <div
            [ngClass]="{
              highlight: isToday(day),
              missed: hasMissedActivity(day),
              selectedDays: day && isSelectedDay && isSelected(day)
            }"
            style="
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
            {{ day || "" }}
          </div>
        </span>
      </div>
    </div>
  </div>
  <div class="care-gaps-list">
    <div class="care-gaps-header">
      <span *ngIf="!selectedDay"
        >{{ monthNames[currentMonth] }} {{ currentYear }} -
        {{ monthNames[nextMonthVal] }} {{ nextMonthYear }}</span
      >
      <span *ngIf="selectedDay"
        >Missed activities on {{ selectedDay }}/{{ currentMonth + 1 }}/{{
          currentYear
        }}</span
      >
    </div>
    <div *ngFor="let activity of displayedMissedActivities">
      <div class="care-gap-item">
        {{ activity.name }}<br />
        <span>{{ activity.date | date : "dd/MM/yyyy" }}</span>
      </div>
    </div>
  </div>
</div>
