.care-gaps-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f4f8;
}

.calendar {
    width: 60%;
    background-color: #F4F4F4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-weight: bold;
}

.nav-button {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    background: #52B204;
    border-radius: 50%;
    color: #fff;
    height: 30px;
    width: 30px;
}

.hidden {
    background: #F4F4F4;
    color: #B5BEC6;
}

.dateHeader {
    color: #424242;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
}

.calendar-row {
    display: contents;
    background-color: #007bff;
}

.daysDiv {
    justify-content: center;
    align-items: center;
    display: flex;
}



.highlight {
    background-color: #007bff;
    color: white;
    // border-radius: 50%;
    display: inline-block;
    border-radius: 14.5px;
    width: 61.37px;
    height: 26px;
    // line-height: 24px;
    align-items: center;
    justify-self: center;
}

.inactive {
    color: #ccc;
    height: 26px;
}

.missed {
    background-color: #A5C5DA;
    width: 61.37px;
    height: 26px;
    border-radius: 14.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectedDays {
    background-color: red;
    width: 61.37px;
    height: 26px;
    border-radius: 14.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.care-gaps-list {
    width: 35%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.care-gaps-header {
    padding: 10px 0;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #C2FFE4;
}

.care-gap-item {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
    border-bottom: 1px solid #C2FFE4;
    color: #424242;
}

// .care-gap-item:last-child {
//     // border-bottom: none;
// }
.noActivity {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    height: 20em;
    padding: 10px 0;
    color: #424242;
    justify-content: center;
    align-items: center;
}

.care-gap-item span {
    display: block;
    color: #666;
}

.disableDates {
    opacity: 0.5;
    cursor: default !important;
}